body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 1024px;
}

html {
    height: 100%;
}

#root {
    height: 100%;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #21272a;
    text-decoration: none;
}

.form-item {
    padding: 0 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 140% !important;
    color: #21272a !important;
    padding-bottom: 32px !important;
}

.form-item_error {
    padding-bottom: 8px !important;
}

.vkuiInternalFormItem--status-error .vkuiFormField {
    background: white;
}

.input {
    height: 48px !important;
    background: none !important;
    border-bottom: 1px solid #c1c7cd !important;
    font-size: 16px !important;
    color: #697077 !important;
}

.input > input:-webkit-autofill,
.input > input:-webkit-autofill:hover,
.input > input:-webkit-autofill:focus,
.input > input:-webkit-autofill:active  {
     box-shadow: 0 0 0 30px white inset !important;
}